<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="digest1.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="div1" ng-controller="emp">
       a = <input ng-model="a">
       <div>a={{a}}</div>
       <br>
       b = <input ng-model="b">
       <div>b={{b}}</div>
       <br>
      
       <button ng-click="calSum()">Calc Sum</button>
       <button onclick="btnClick()">Sum</button>
       <div>sum = {{s}}</div>
    </div>
</body>
</html>