<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="script3.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse:collapse;
        }
    </style>
</head>
<body style="font-family:'Verdana">
    <div ng-controller="Ctrl">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Likes/Dislikes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tech in technologies">
                    <td>{{tech.name}}</td>
                    <td>{{tech.likes}}</td>
                    <td>{{tech.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(tech)">
                        <input type="button" value="Dislike" ng-click="incrementDislikes(tech)">
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li ng-repeat="c in countries">
                {{c.name}}
                <ul>
                    <li ng-repeat="city in c.cities">
                        {{ city.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>