<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="watcher.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div ng-controller="emp">
        a = <input ng-model="o.a" />
        <br>
        <!-- a = {{a}} -->
        b = <input ng-model="o.b" />
        <br>
        <!-- b = {{b}} -->
        c = {{o.c}}
    </div>
</body>
</html>