<div style="text-align: center;">
  <h2>Root Component</h2>
  <!-- <app-test></app-test> -->
  <!-- <app-interpolation></app-interpolation> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <!-- <app-two-way></app-two-way> -->
  <!-- <app-structural></app-structural> -->
  <!-- <app-switch></app-switch> -->
  <!-- <app-ng-for-demo></app-ng-for-demo> -->
  <!-- <app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-employee-details></app-employee-details> -->
  <!-- {{message}} -->
</div>
<nav>
  <a routerLink="/departments">Departments</a>
  <a routerLink="/employees">Employees</a>
</nav>
<router-outlet></router-outlet>