body{
    margin: 0;
    text-align: center;
}
ul{
    text-align: left;
    display: inline;
    margin: 0;
    padding:15px 4px 17px 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
ul li{
    font:bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding:15px 20px;
    background-color: #00bcd4;
    cursor: pointer;
    color: #fff;
    transition: all .2s;
}
ul li:hover{
    background-color: #4dd0e1;
    color: #fff;
}

ul li ul{
    padding: 0;
    position: absolute;
    top:48px;
    left:0px;
    width: 150px;
    display: none;
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
}
ul li ul li{
    background-color: #00aac1;
    display: block;
    color: #fff;
}
ul li ul li:hover{
    background-color: #4dd0e1;
}
ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}
.home{
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
}
.contact{
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
}
.gd{
    border-top-right-radius: 3px;
    border-bottom-left-radius:3px;
}
.menu{
    padding-top: 20px;
}
