.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: o;
    background: black;
    color: white;
    font-size: 14px;
}